#color_1 {
	background-color: #2574A9;
	height: 120px;
	margin-bottom: 15px;
}

#color_2 {
	background-color: #9A12B3;
	height: 185px;
	margin-bottom: 15px;
}

#color_3 {
	background-color: #DB0A5B;
	height: 175px;
	margin-bottom: 15px;
}